/* You can add global styles to this file, and also import other style files */
:root{
    --primary-color: #3498db;
    --secondary-color: #e74c3c;
    --accent-color: #2ecc71;
    --light-background: #ffffff;
    --dark-background: #333333;
    --text-color: #ffffff;

    --primary-font: 'Arial', sans-serif;
    --secondary-font: 'Georgia', serif;

    --base-font-size: 16px;
    --h1-font-size: 2.5em;
    --h2-font-size: 2em;
    --h3-font-size: 1.75em;
    --h4-font-size: 1.5em;
    --h5-font-size: 1.25em;
    --h6-font-size: 1em;

    --normal-font-weight: 200;
    --bold-font-weight: 700;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: var(--normal-font-weight);
    font-family: var(--primary-font);
    color: var(--text-color);
}

h1{
    font-size: var(--h1-font-size);
}

h2{
    font-size: var(--h2-font-size);
}

h3{
    font-size: var(--h3-font-size);
}


h4{
    font-size: var(--h4-font-size);
}

h5{
    font-size: var(--h5-font-size);
}

body{
    background-color: var(--dark-background);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}