.container{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    margin: 0;
    height: 80vh;
}

.cards{
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.card{
    font-family: Shantell Sans;
    width: 600px;
}

.card1{
    background-color: black;
    font-size: 400%;
    border-radius: 10px;
}

table{
    width: 100%;
    border-collapse: collapse;
}

th, td{
    padding: 8px 12px;
    text-align: left;
}