<div class="container">
    <div class="cards">
        <div class="card card1">
            The Cafe
        </div>
        <div class="card card2">
            <h1>Nkomo Cafe</h1>
            <br>

            <h4>Speciality Shops and Services, Books, Cards and Gifts</h4>
            <br>

            <table>
                <tr>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <td>
                        Monday
                    </td>
                    <td>
                        08:00 - 17:00
                    </td>
                </tr>
                <tr>
                    <td>
                        Tuesday
                    </td>
                    <td>
                        08:00 - 17:00
                    </td>
                </tr>
                <tr>
                    <td>
                        Wednesday
                    </td>
                    <td>
                        08:00 - 17:00
                    </td>
                </tr>
                <tr>
                    <td>Thursday</td>
                    <td>
                        08:00 - 17:00
                    </td>
                </tr>
                <tr>
                    <td>Friday</td>
                    <td>
                        08:00 - 17:00
                    </td>
                </tr>
                <tr>
                    <td>
                        Saturday
                    </td>
                    <td>
                        08:00 - 14:00
                    </td>
                </tr>
                <tr>
                    <td>
                        Sunday
                    </td>
                    <td>
                        08:00 - 14:00
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
